<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.drawcoding.spectacle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_label"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.drawcoding.spectacle.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.AddDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.CampusActivities"
            android:label="교내활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.InternationalActivities"
            android:label="대외활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.Language"
            android:label="어학"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.Intern"
            android:label="인턴·아르바이트"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.VolunteerActivities"
            android:label="봉사활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.Certificate"
            android:label="자격증"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.DetailContentActivity"
            android:label="상세내역"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="org.drawcoding.spectacle.ModifyActivity"
            android:label="항목 수정"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="org.drawcoding.spectacle.SettingActivity"
            android:label="설정"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.drawcoding.spectacle.MainActivity" />
        </activity>

        <activity
            android:name="org.drawcoding.spectacle.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="org.drawcoding.spectacle.PasswordSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="org.drawcoding.spectacle.PasswordModifyingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name="org.drawcoding.spectacle.AppInformationActivity"
            android:label="앱 정보"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>