<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.spectacle">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_label"
        android:label="@string/app_name"
        android:logo="@drawable/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".CampusActivities"
            android:label="교내활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".InternationalActivities"
            android:label="대외활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Language"
            android:label="어학"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Intern"
            android:label="인턴·아르바이트"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".VolunteerActivities"
            android:label="봉사활동"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Certificate"
            android:label="자격증"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".DetailContentActivity"
            android:label="상세내역"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ModifyActivity"
            android:label="항목 수정"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".SettingActivity"
            android:label="설정"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PasswordSettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PasswordModifyingActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".AppInformationActivity"
            android:label="앱 정보"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>